<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/addCategory" method="post">
        Enter Category Name : <input type="text" name="name" id="" value=""><br><br>
        Enter Icon Name : <input type="text" name="icon" id="" value=""><br><br>
        Enter Color : <input type="text" name="color" id="" value=""><br><br>
        <input type="submit" name="" id="">
    </form>
</body>

</html>