<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add Product</h1>
    <form action="/addproduct" method="post">
        Product Image : <input type="text" name="image" id=""><br><br>
        Product Name : <input type="text" name="name" id=""><br><br>
        Product Prize : <input type="text" name="prize" id=""><br><br>
        Product Description : <input type="text" name="description" id=""><br><br>
        Product Rating : <input type="number" name="rating" id=""><br><br>
        Product Featured : <input type="text" name="isFeatured" id=""><br><br>
        product Create Date : <input type="date" name="dateCreated" id=""><br><br>
        Product Category : <input type="text" name="category" id=""><br><br>
        CountInStock : <input type="text" name="countInStock" id=""><br><br>
        Submit Product Here : <input type="submit" name="" id="">
    </form>
</body>

</html>